Pillow>=9.3.0
PyYAML>=6.0
Shapely>=2.0.6
albumentations>=1.3.1
spandrel>=0.4.0
fire>=0.6.0
glog==0.3.1
joblib>=1.1.0
lxml>=5.3.1
numpy>=1.26.0
opencv-contrib-python-headless
opencv-python-headless
pretrainedmodels==0.7.4
scikit-image>=0.18.1
tensorboardx>=2.6.2.2
torch
torchsummary==1.5.1
torchvision
tqdm>=4.66.1

black==26.3.1
