PyYAML==6.0.3
albumentations==2.0.8
annotated-types==0.7.0
fire==0.7.1
glog==0.3.1
joblib==1.5.3
loguru==0.7.3
lxml==6.0.2
numpy==2.4.3
opencv-contrib-python-headless==4.13.0.92
opencv-python-headless==4.13.0.92
pretrainedmodels==0.7.4
rasterio==1.5.0
scikit-image==0.26.0
shapely==2.1.2
spandrel==0.4.2
tensorboardX==2.6.4
torch==2.10.0
torchsummary==1.5.1
torchvision==0.25.0
tqdm==4.67.3

black==26.3.1
ruff==0.15.6
